.navigation {
  padding: 18px 0 38px;
}

.navigation .container {
  padding: 0 100px;
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1;
  max-width: 1740px;
}

.navigation_control_label {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: -40px;
  padding: 0 110px;
}

.navigation_control_label > div {
  font-size: 23px;
  color: #8d9bb0;
  cursor: pointer;
}

.navigation_control_arrow .arrow_left, .navigation_control_arrow .arrow_right {
  position: absolute;
  top: 20px;
  cursor: pointer;
}
.navigation_control_arrow .arrow_left {
  left: 30px;
}

.navigation_control_arrow .arrow_right {
  transform: rotateY(-180deg);
  right: 30px;
}

.navigation .navigate_item {
  flex: 1;
  padding: 0 10px;
}

.navigation .navigate_item.left {
  flex-direction: row;
}

.navigation .navigate_item.right {
  flex-direction: row-reverse;
}

.navigation .navigate_item_image {
  background-color: #fcfcfe;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 105px;
  border-radius: 10px;
}

.navigation .navigate_details {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.navigation .left .navigate_details {
  padding-left: 17px;
}

.navigation .right .navigate_details {
  align-items: flex-end;
  padding-right: 17px;
}

.navigation .details__tags {
  display: flex;
  flex-wrap: wrap;
}

.navigation .right .details__tags {
  flex-wrap: wrap-reverse;
}

.navigation .left .tag_item {
  margin-left: 15px;
}

.navigation .right .tag_item {
  order: -1;
}

.navigation .label {
  font-size: 25px;
  font-family: Circe-Regular;
}

.navigation .detail_title {
  margin-top: 10px;
  font-family: Circe-Regular;
  font-size: 18px;
  color: #5d7599;
}

@media (max-width: 992px) {
  .navigation {
    padding: 51px 0 70px;
  }

  .navigation .container {
    padding: 0 60px;
  }
  .navigation .navigate_item {
    flex-direction: column !important;
  }

  .navigation .navigate_item.right {
    align-items: flex-end;
  }
  .navigation .left .details__tags {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .navigation .right .details__tags {
    flex-direction: column;
  }

  .navigation .right .details__tags {
    text-align: right;
  }

  .navigation .left .details__tags .tag_item {
    margin-left: 0;
  }

  .navigation .right .details__tags .tag_item {
    margin-right: 0;
  }

  .navigation .left .navigate_details {
    padding-left: 0;
  }

  .navigation .right .navigate_details {
    padding-right: 0;
  }

  .navigation .navigate_item_image {
    width: 300px;
    height: 155px;
    border-radius: 20px;
  }

  .navigation .navigate_details {
    padding-top: 20px;
  }

  .navigation .label {
    margin-top: 20px;
    font-size: 29px;
  }

  .navigation .detail_title {
    font-size: 28px;
    margin-top: 22px;
    line-height: 1.7;
  }

  .navigation .right .detail_title {
    text-align: right;
  }

  .navigation_control_label {
    top: -55px;
    padding: 0 70px;
  }

  .navigation_control_label > div {
    font-size: 29px;
  }

  .navigation_control_arrow .arrow_left, .navigation_control_arrow .arrow_right {
    top: 53px;
    height: 50px;
  }

  .navigation_control_arrow .arrow_left {
    left: 20px;
  }

  .navigation_control_arrow .arrow_right {
    right: 20px;
  }
}

@media (max-width: 768px) {
  .navigation .container {
    padding: 0 10px;
  }
  .navigation_control_arrow {
    display: none;
  }

  .navigation .navigate_item_image {
    width: 280px;
    height: 145px;
  }

  .navigation .navigate_details {
    flex-direction: column-reverse;
  }

  .navigation .detail_title {
    font-size: 24px;
    margin-top: 1px;
    margin-bottom: 20px;
  }

  .navigation .label {
    margin-top: 14px;
    font-size: 23px;
  }

  .navigation_control_label {
    padding: 0 23px;
  }

  .navigation_control_label > div {
    font-size: 26px;
  }

  .navigation {
    padding: 20px 0 80px;
  }
}

@media (max-width: 630px) {
  .navigation .navigate_item.right {
    display: none !important;
  }

  .navigation .navigate_item_image {
    width: 90%;
    margin: auto;
  }

  .navigation .detail_title {
    text-align: center;
  }

  .navigation .details__tags {
    flex-direction: row !important;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }

  .navigation_control_label {
    padding: 0 60px;
  }

  .navigation .details__tags .tag_item {
    margin: 0;
  }

  .navigation .detail_title {
    font-size: 22px;
  }

  .navigation .label {
    font-size: 22px;
  }

  .navigation .details__tags .tag_item {
    font-size: 20px;
    padding: 5px;
  }
}

@media (max-width: 576px) {
  .navigation_control_label > div {
    font-size: 21px;
  }

  .navigation .label {
    font-size: 21px;
  }

  .navigation .left .details__tags .tag_item {
    font-size: 20px;
    padding: 5px;
  }

  .navigation .left .details__tags {
    align-items: center;
  }

  .navigation .detail_title {
    font-size: 20px;
    margin-bottom: 0;
  }

  .navigation .label {
    font-size: 20px;
  }

  .navigation .details__tags .tag_item {
    font-size: 18px;
  }

  .navigation_control_label {
    padding: 0 30px;
  }
}

@media (max-width: 480px) {
  .navigation_control_label > div {
    font-size: 19px;
  }

  .navigation .label {
    font-size: 19px;
  }

  .navigation .left .details__tags .tag_item {
    font-size: 18px;
  }

  .navigation .detail_title {
    font-size: 18px;
  }

  .navigation .label {
    font-size: 18px;
  }

  .navigation .details__tags .tag_item {
    font-size: 17px;
  }
}

@media (max-width: 370px) {
  .navigation .left .details__tags .tag_item {
    font-size: 17px;
  }

  .navigation .label {
    font-size: 18px;
  }

  .navigation .detail_title {
    font-size: 17px;
  }

  .navigation .label {
    font-size: 16px;
  }

  .navigation .left .details__tags .tag_item {
    font-size: 15px;
  }

  .navigation .label {
    font-size: 17px;
  }

  .navigation .details__tags .tag_item {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .navigation .label {
    font-size: 17px;
  }

  .navigation .left .details__tags .tag_item {
    font-size: 16px;
    margin-top: 10px;
  }
  .navigation .detail_title {
    margin-bottom: 0;
  }

  .navigation .label {
    font-size: 16px;
  }

  .navigation .detail_title {
    font-size: 15px;
  }

  .navigation .label {
    font-size: 15px;
  }

  .navigation .details__tags .tag_item {
    font-size: 15px;
  }
}
