// Fonts
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");

@font-face {
  src: url('../fonts/Circe-Bold_font.eot');
  font-family: 'Circe-Bold';
  src: url('../fonts/Circe-Bold_font.woff2') format('woff2'), url('../fonts/Circe-Bold_font.woff') format('woff'), url('../fonts/Circe-Bold_font.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Bold_font.ttf') format('truetype');
}

@font-face {
  src: url('../fonts/Circe-Regular_font.eot');
  font-family: 'Circe-Regular';
  src: url('../fonts/Circe-Regular_font.woff2') format('woff2'), url('../fonts/Circe-Regular_font.woff') format('woff'), url('../fonts/Circe-Regular_font.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Regular_font.ttf') format('truetype');
}

@font-face {
  src: url('../fonts/Circe-ExtraBold_font.eot');
  font-family: 'Circe-ExtraBold';
  src: url('../fonts/Circe-ExtraBold_font.woff2') format('woff2'), url('../fonts/Circe-ExtraBold_font.woff') format('woff'), url('../fonts/Circe-ExtraBold_font.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-ExtraBold_font.ttf') format('truetype');
}

.Circe-Regular {
  font-family: Circe-Regular;
}

.Circe-Bold {
  font-family: Circe-Bold;
}

.Circe-ExtraBold {
  font-family: Circe-ExtraBold;
}

@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

@import "custom";
