.platform {
  background-color: #fbf9fd;
  padding-left: 20px;
  padding-right: 20px;

  margin-top: 100px;
}

.platform .container {
  max-width: 1940px;
  padding: 100px 100px 71px;
}

.platform__lgtitle {
  font-family: Circe-Bold;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: 1px;
  text-align: center;
  color: #5a3b83;
}

.platform__category-wrapper {
  list-style-type: none;
  padding-left: 0;
  border-radius: 20px;
  width: 100%;
  margin-top: 70px;
}

.platform__category-item {
  width: 100%;
  padding: 20px 30px;
  border-bottom: 1px solid rgba(118, 50, 210, 0.1);
  background-color: rgba(118, 50, 210, 0.02);
  cursor: pointer;
}

.platform__category-item:hover{
  background-color: #fff;
}

.platform__category-item.active {
  background-color: #7632d2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.platform__category-item.last {
  border-bottom: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.platform__mdtitle {
  font-family: Circe-Bold;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.89;
  letter-spacing: 1px;
  color: #5a3b83;
  text-transform: uppercase;
}

.platform__category-item.active .platform__mdtitle {
  color: #fff;
}

.platform__smtitle {
  opacity: 0.8;
  font-family: Circe-Regular;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #5a3b83;
  margin-top: 5px;
}

.platform__category-item.active .platform__smtitle {
  color: #fff;
}

.platform__image {
  width: 100%;
  margin-top: 70px;
}

@media (max-width: 1440px) and (min-width: 992px) {
  .platform__category {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .platform__image-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    order: -1;
  }
}

/* Large */
@media (max-width: 1440px) and (min-width: 1280px) {
  .platform__lgtitle {
    font-size: 48px;
  }
}

@media (min-width: 992px) {
  .platform__category-sm {
    display: none;
  }
}

@media (max-width: 992px) {
  .platform {
    padding: 50px 0 33px;
  }

  .platform .container {
    padding: 0;
  }

  .platform .container > .row {
    margin: 0;
  }

  .platform__lgtitle {
    font-size: 50px;
  }

  .platform__image-wrapper {
    text-align: center;
  }

  .platform__image {
    width: 93%;
    margin-top: 30px;
  }

  .platform__category {
    display: none;
  }

  #platform__carousel {
    margin-top: 30px;
    min-height: unset;
  }

  #platform__carousel .carousel-indicators {
    position: unset;
    margin-top: 48px;
  }

  #platform__carousel .carousel-indicators li {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #c5a9eb;
    background-clip: unset;
    border: 0;
    margin: 0 15px;
  }

  #platform__carousel .carousel-indicators li {
    background-color: #7531d1;
  }

  #platform__carousel .carousel-control-prev {
    color: #7531d1;
  }

  #platform__carousel .carousel-control-next {
    color: #7531d1;
  }

  #platform__carousel .carousel-inner {
    width: 71%;
  }

  #platform__carousel .platform__category-item {
    background-color: #7531d1;
    border-radius: 20px;
    padding: 15px 30px;
  }

  #platform__carousel .carousel-control-next, #platform__carousel .carousel-control-prev {
    position: unset;
    opacity: unset;
  }

  .platform__mdtitle {
    font-size: 25px;
  }

  .platform__smtitle {
    font-size: 27px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    padding-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .platform {
    margin-top: 80px;
    padding: 55px 10px 33px
  }

  .platform__lgtitle {
    font-size: 39px;
    line-height: 1.4;
  }

  #platform__carousel {
    margin-top: 36px;
  }

  #platform__carousel .carousel-inner {
    width: 95%;
    margin: auto;
  }

  #platform__carousel .carousel-control-next, #platform__carousel .carousel-control-prev {
    display: none;
  }
}

@media (max-width: 630px) {
  .platform__lgtitle {
    font-size: 37px;
  }

  .platform__mdtitle {
    font-size: 24px;
  }

  .platform__smtitle {
    font-size: 26px;
  }
}

@media (max-width: 576px) {
  .platform {
    margin-top: 50px;
  }

  .platform__lgtitle {
    font-size: 35px;
  }

  .platform__mdtitle {
    font-size: 22px;
  }

  .platform__smtitle {
    font-size: 24px;
  }

  #platform__carousel .platform__category-item {
    padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  .platform__lgtitle {
    font-size: 33px;
  }

  .platform__mdtitle {
    font-size: 20px;
  }

  .platform__smtitle {
    font-size: 22px;
  }
}

@media (max-width: 420px) {
  .platform__lgtitle {
    font-size: 31px;
  }

  .platform__mdtitle {
    font-size: 19px;
  }

  .platform__smtitle {
    font-size: 21px;
  }

  #platform__carousel .carousel-indicators li {
    margin: 0 10px;
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 370px) {
  .platform__lgtitle {
    font-size: 29px;
  }


  .platform__mdtitle {
    font-size: 18px;
  }

  .platform__smtitle {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .platform__lgtitle {
    font-size: 27px;
  }

  .platform__mdtitle {
    font-size: 16px;
  }

  .platform__smtitle {
    font-size: 18px;
  }

  #platform__carousel .carousel-indicators {
    justify-content: space-around;
  }

  #platform__carousel .carousel-indicators li {
    margin: 0;
  }
}
